.App {
  font-family: sans-serif;
  text-align: center;
}
.ghost {
  background: lightblue!important;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.info {
  text-align: left;
}

.bor {
  text-align: left;
  font-size: small;
  font-style: italic;
}